@{
    ViewBag.Title = "Home Page";
    
}

    <div class="jumbotron">
        <div>
            @Html.ActionLink("Generate Foods", "CreateFoods", "Home")
        </div>
        <table id="contentTable" class="table table-striped">
            <tbody>
                @foreach (FoodApplication.Models.FoodOfaDay weekFood in Model)
                {
                    <tr>
                        <td>
                            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                <div class="card-header">@weekFood.Foods.FoodName</div>
                                <div class="card-body">
                                    <h4 class="card-title">@weekFood.Date</h4>
                                    <p class="card-text">@* <a href=@food.Recepy>Resepti</a>*@</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>